In [ ]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler,OneHotEncoder
import pandas as pd

In [ ]:

df = pd.read_excel('diamonds_2.xlsx','Sheet1')

#Print top 5 rows

In [ ]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     NaN   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     NaN   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     NaN   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     NaN   63.3   58.0    335  4.34  4.35  2.75

# Print percentage wise null for each columns

In [ ]:
df.isna().mean()

carat      0.000000
cut        0.012024
color      0.000000
clarity    0.983968
depth      0.014028
table      0.000000
price      0.000000
x          0.000000
y          0.000000
z          0.000000
dtype: float64

#Drop column which have too many nulls

In [ ]:
del df['clarity']

# Print percentage wise null

In [ ]:
df.isna().mean()

carat    0.000000
cut      0.012024
color    0.000000
depth    0.014028
table    0.000000
price    0.000000
x        0.000000
y        0.000000
z        0.000000
dtype: float64

# Fill null values of cut with highest occurance category

In [ ]:
df['cut'].value_counts()

Ideal        152
Premium      144
Very Good    124
Good          47
Fair          26
Name: cut, dtype: int64

In [ ]:
df['cut'] = df['cut'].fillna('Ideal')

In [ ]:
df.isna().mean()

carat    0.000000
cut      0.000000
color    0.000000
depth    0.014028
table    0.000000
price    0.000000
x        0.000000
y        0.000000
z        0.000000
dtype: float64

# Drop rows where depth column is null

In [ ]:
df = df.dropna(subset=['depth'])

In [ ]:
df = df.reset_index(drop=True)

# Perform Minmax scaling on 'x' column ad create new column named 'x_scalled'

In [ ]:
df['x'].min() ,  df['x'].max()

(3.79, 6.83)

In [ ]:
scaler = MinMaxScaler()

In [ ]:
df[["x_scalled"]] = scaler.fit_transform(df[["x"]])

In [ ]:
df.head()

   carat      cut color  depth  table  price     x     y     z  x_scalled
0   0.23    Ideal     E   61.5   55.0    326  3.95  3.98  2.43   0.052632
1   0.21  Premium     E   59.8   61.0    326  3.89  3.84  2.31   0.032895
2   0.23     Good     E   56.9   65.0    327  4.05  4.07  2.31   0.085526
3   0.29  Premium     I   62.4   58.0    334  4.20  4.23  2.63   0.134868
4   0.31     Good     J   63.3   58.0    335  4.34  4.35  2.75   0.180921

In [ ]:
df['x_scalled'].min() , df['x_scalled'].max()

(0.0, 1.0000000000000002)

In [ ]:
del df['x']

#Perform Standard scaling on 'y' column ad create new column named 'y_scalled'

In [ ]:
scaler = StandardScaler()

In [ ]:
df[["y_scalled"]] = scaler.fit_transform(df[["y"]])

In [ ]:
del df['y']

# Onehot encoding on 'cut' column

In [ ]:

ohe = OneHotEncoder(sparse=False)

result = ohe.fit_transform(df[['cut']])

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [ ]:
result

array([[0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0.],
       ...,
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0.]])

In [ ]:
result.shape

(492, 5)

In [ ]:
print(ohe.categories_[0])

['Fair' 'Good' 'Ideal' 'Premium' 'Very Good']

In [ ]:
new_df = pd.DataFrame(result, columns=ohe.categories_[0])

In [ ]:
new_df

     Fair  Good  Ideal  Premium  Very Good
0     0.0   0.0    1.0      0.0        0.0
1     0.0   0.0    0.0      1.0        0.0
2     0.0   1.0    0.0      0.0        0.0
3     0.0   0.0    0.0      1.0        0.0
4     0.0   1.0    0.0      0.0        0.0
..    ...   ...    ...      ...        ...
487   0.0   0.0    1.0      0.0        0.0
488   0.0   0.0    0.0      1.0        0.0
489   0.0   0.0    0.0      1.0        0.0
490   0.0   0.0    0.0      1.0        0.0
491   0.0   0.0    1.0      0.0        0.0

[492 rows x 5 columns]

In [ ]:
df = pd.concat([df,new_df],axis = 1)

In [ ]:
df.head()

,carat,color,depth,table,price,z,x_scalled,y_scalled,Fair,Good,Ideal,Premium,Very Good
0,0.23,E,61.5,55.0,326,2.43,0.052632,-2.104540,0.0,0.0,1.0,0.0,0.0
1,0.21,E,59.8,61.0,326,2.31,0.032895,-2.305317,0.0,0.0,0.0,1.0,0.0
2,0.23,E,56.9,65.0,327,2.31,0.085526,-1.975470,0.0,1.0,0.0,0.0,0.0
3,0.29,I,62.4,58.0,334,2.63,0.134868,-1.746011,0.0,0.0,0.0,1.0,0.0
4,0.31,J,63.3,58.0,335,2.75,0.180921,-1.573916,0.0,1.0,0.0,0.0,0.0

In [ ]:
del df['cut']

#creat 'per_carat_price' column which is ratio of price column and carat column

In [ ]:
df['per_carat_price'] = df['price']/df['carat']

In [ ]:
df.head()

,carat,color,depth,table,price,z,x_scalled,y_scalled,Fair,Good,Ideal,Premium,Very Good,per_carat_price
0,0.23,E,61.5,55.0,326,2.43,0.052632,-2.104540,0.0,0.0,1.0,0.0,0.0,1417.391304
1,0.21,E,59.8,61.0,326,2.31,0.032895,-2.305317,0.0,0.0,0.0,1.0,0.0,1552.380952
2,0.23,E,56.9,65.0,327,2.31,0.085526,-1.975470,0.0,1.0,0.0,0.0,0.0,1421.739130
3,0.29,I,62.4,58.0,334,2.63,0.134868,-1.746011,0.0,0.0,0.0,1.0,0.0,1151.724138
4,0.31,J,63.3,58.0,335,2.75,0.180921,-1.573916,0.0,1.0,0.0,0.0,0.0,1080.645161