#Assignment

Combine these two dictionary dict1 and dict2 in dict3

In [1]:
dict1 = {
    'name' : 'Parth',
    'ph' : 40,
    'ch' : 50,
    'mt' : 70
}
dict2 = {
    "name" : "Jay",
    "Age" : 30,
    "City" : "Abd",
    "Study" : "B-Tech", # "hceT-B"
    "Marks" : [10,20,30,40]
}
dict3 = {}
dict3 = dict1

for i in dict2:
  dict3[i] = dict2[i]

res = {**dict1 , ** dict2}
print(res)

#Iterate dictionary with for loop

In [3]:
dict2 = {
    "name" : "Jay",
    "Age" : 30,
    "City" : "Abd",
    "Study" : "B-Tech", # "hceT-B"
    "Marks" : [10,20,30,40]
}

In [5]:
for i in dict2:
  print(i, dict2[i])

name Jay
Age 30
City Abd
Study B-Tech
Marks [10, 20, 30, 40]

In [8]:
l = dict2.keys()
print(l)

In [10]:
l2 = dict2.values()
print(l2)

dict_values(['Jay', 30, 'Abd', 'B-Tech', [10, 20, 30, 40]])

In [6]:
for i in dict2.keys():
  print(i)

name
Age
City
Study
Marks

In [7]:
for i in dict2.values():
  print(i)

Jay
30
Abd
B-Tech
[10, 20, 30, 40]

#Nested dictionary

In [17]:
dict1 = {
    "name" : "Jay",
    "Age" : 30,
    "City" : "Abd",
    "Study" : "B-Tech", # "hceT-B"
    "Marks" : [10,20,30,40],
    "Address" : {
        "name" :50,
        "State" :"Gujarat"
    }
}

In [20]:
print(dict1["name"])
print(dict1["Address"]["name"])

Jay
50

# Practice code 1
Given a dictionary where values are list of integers.
Change the values to the average of that lists

In [27]:
l = {
    "a" : [22,44,66,33,45,78,9,0,8,0,0],
    "b" : [12,43],
    "c" : [354,67,76,34,3,5,7,5,3,2,4,6,7,8,8,9],
     "d": [23,56,78,89]
}
for i in l:
  avg = sum(l[i])/len(l[i])
  l[i] = avg
  
print(l)

#Practice code 2

Given a dictionary where values are list of integers. Combine all the lists in one list and find its average

In [32]:
l = {
    "a" : [22,44,66,33,45,78,9,0,8,0,0],
    "b" : [12,43],
    "c" : [354,67,76,34,3,5,7,5,3,2,4,6,7,8,8,9],
     "d": [23,56,78,89]
}
expected_output = [22,44,66,33,45,78,9,0,8,0,0,12,43,354,67,76,34,3,5,7,5,3,2,4,6,7,8,8,9,23,56,78,89]

In [35]:
output = []
for i in l.values():
  output = output + i

#Alternative solution
output = []
for i in l:
  output = output + l[i]

In [36]:
print(output)

[22, 44, 66, 33, 45, 78, 9, 0, 8, 0, 0, 12, 43, 354, 67, 76, 34, 3, 5, 7, 5, 3, 2, 4, 6, 7, 8, 8, 9, 23, 56, 78, 89]

#Assignment 1

Given a list that contains lists.
create dictionary where 1st element will be key and rest of the element will be values(in list format)

In [ ]:
inp = [['abc',12,23,45,56], ['pqrs',55,66,77,89], ['xyz',34,6,8,4,3], ['opst',45,67,897,7,7]]

In [ ]:
expected_output = {
    'abc': [12,23,45,56],
    'pqrs' : [34,6,8,4,3],
    'opst' : [45,67,897,7,7]
}