#Yesterdays assignment

Read 2 integer variables and subtract them and store result in new variable RES1

Read 3 string variables and concat them and store result in new variable RES2

Read 4 float variables and add all of them and store result in new variable RES3

Concat 3 variables RES1, RES2 and RES3 and assigne the result in new string FINAL_RES

print length of FINAL_RES variable

In [1]:
int1 = int(input())
int2 = int(input())
RES1 = int1 - int2

str1 = input()
str2 = input()
str3 = input()
RES2 = str1 + str2 + str3

f1 = float(input())
f2 = float(input())
f3 = float(input())
f4 = float(input())
RES3 = f1 + f2 + f3 + f4


FINAL_RES =  str(RES1) + RES2 + str(RES3)


l = len(FINAL_RES)

40
20

In [20]:
a = 10
print("Welcome ",a , 3.4, True , "This is also string")

Welcome  10 3.4 True This is also string

#Multiple variable assignment

In [21]:
a = 10
b = 3.4
c = 'Parth'

#Alternative way is as per below :
a, b, c = 10,3.4,'Parth'

#Variable Reassign

In [23]:
a = 5.5
print(a)
a = 'Parth'
print(a)

5.5
Parth

#String operations

In [24]:
s = 'Ahmedabad'

In [25]:
l = len(s)

In [30]:
#String slicing
ch = s[0]
sub_str  = s[0:7]
sub_str2 = s[2:7]
sub_str3 = s[2:]

In [34]:
#Count of character in string
cnt = s.count('a')

str1 = "Hello how are you are you fine ?"
cnt = str1.count('you')

In [37]:
#Append character
s = s +'k'

#Assignment operation

In [44]:
a = 10

a += 5  #a = a + 5

a *= 5  #a = a * 5

#Comparision operators

In [55]:
a = 10
b = 30

a == b
a != 10
a > 10
a >= 10
a <=10

#if statement

In [62]:
a = 10

if(a > 5):
  print('a is greater')
  print('within block')
print("Outside block")

a is greater
within block
Outside block

In [63]:
if(a>8):
  print("Yes I will get printed") #1
else:
  print("I will not")             #2
print("Will I get printed ?")     #3

Yes I will get printed
Will I get printed ?

#Logical operator

In [61]:
# AND operator : All of the condition should be true
# OR operator : Any one condition should be true

In [68]:
a = 10
b = 25

and_1 = (a>5) and (b>20)
and_2 = (a>5) and (b>30)

or1 = (a>=10) or (b<9)
or2 = (a<3) or (b<5)

#If else statement

In [ ]:
a = 15
b = 3

if a less than 5 then I have to print "A is too small"

if a is greater than or equal to 5 and less than 10: then print a/b

otherwise print "a is too big"

In [73]:
if(a<5):
  print("A is too small")
elif(a>=5 and a<10):
  print(10/3)
else:
  print("a is too big")

a is too big

#Question1

Read a string from user and print last character of the string

#Question 2
1. Read a string from user STR1.
2. 

(if the length of STR1 is less than or equal to 7)

    -> read 2 strings and print last character of the two strings

(if the length of string is greater than or equal to 7 and less than or equal to 10 )

      ->then read 3 float variables from user and print sum of that 4 variables

Otherwise
        -> print "String is too leangthy"