#Realtime applications and logic building questions

#(1) Read string from user and check if it is palindrome or not.

In [1]:
st = input("Enter string")

Enter stringabcdcba

In [7]:
def is_palindrome(st):
  rev = st[::-1]
  if(st == rev):
    return(True)
  else:
    return(False)

res = is_palindrome(st)
print(res)

#(2) Write a program to swap 2 variables

In [14]:
a = 17
b = 3

a,b = b,a
print(a,b)

#(3) Write a program to swap first and last element of an list

In [20]:
l = [33,22,56,97,24,67,23,90]

l[0], l[-1] = l[-1], l[0]

# 'in' keyword in python

In [30]:
print(22 in [22,33,55,66])

print('ab' in 'abcd')

dict1 = {'k1':'v1','k2':'v2','k3':'v3'}
print('k1' in dict1)
print('v1' in dict1)

True
True
True
False

#(4) Read a string from user. Count vowels in a string

vowels : a,e,i,o,u

In [52]:
st =input("Enter string : ")

Enter string : parth

In [53]:
count = 0
for i in st.lower():
  if(i in "aeiouAEIOU"):
    count = count + 1

#Alternative method
count = 0
for i in st:
  if((i in "aeiou") or (i in "AEIOU")):
    count = count + 1

In [55]:
count

1

# Print consonent of above string

In [56]:
count1 = 0
for i in st:
  if(i not in "aeiouAEIOU"):
    count1 = count1 + 1
print(count1)

#Alternative method 
print(len(st) - count)

4
4

#(5) Read a string from user. write a program to create dictionary where key is character and value is total count of the character.

In [57]:
st = input("Enter string : ")

Enter string : aabcccbcf

In [58]:
expected_dict1 = {
    'a':2,
    'b':2,
    'c':4,
    'f':1
}

dict1 = {}
aabcccbcf
for loop :
 (a not in {}) : {'a',1}
 (a not in {'a',1}):
      else : dict1['a'] = dict1['a']+1

  {'a': 2}
  {'a' : 2, 'b' :1}
  {'a' : 2, 'b' :2,'c':4,'f':1}

In [60]:
dict1 = {}
for i in st:
  if(i not in dict1):
    dict1[i] = 1
  else:
    dict1[i] = dict1[i] + 1

In [61]:
print(dict1)

{'a': 2, 'b': 2, 'c': 4, 'f': 1}

#Assignment code 1
 Read n from user where n is total number of students in a class.
 
 Read dictionary from user for each and every student of class with keys : "name" and "marks".

 Add all the dictionaries to l1 list.


 in l1 list if the students marks are less then 33 add the students to l2 list with new key value pair : "Result" : "fail"

  in l1 list if the students marks are greater then or equal to 33, add the students to l3 list with new key value pair : "Result" : "pass"