#OOP  : Object Oriented Programing

#Class and Objects:

Class is collection of objects.
All objects in same class have same behaviours.

In [1]:
class Teacher:
  name = ""
  designation =""

In [2]:
p1 = Teacher()

In [3]:
p1.name = "Parth"
p1.designation = "Developer"

In [5]:
p2 = Teacher()
p2.name = "Sagar"
p2.designation = "Senior Develoer"

In [6]:
class Student:
  name = ""
  id = ""
  batch = ""

In [7]:
r1 = Student()
r1.name = "Ravi"
r1.id = "1"
r1.batch = "Data Science"

In [8]:
print(r1)

<__main__.Student object at 0x7f7d23628c10>

In [10]:
print(r1.batch)

Data Science

#Self keyword
It is object of same class

In [ ]:
__init__() method

In [20]:
class Student:
  name = ""
  id = ""
  batch = ""
  def __init__(self,name,id):
    self.name = name
    self.id = id

In [24]:
s1 = Student("Raj","5")

#Methods within class

In [25]:
class Person:
  id = ""
  name = ""
  def __init__(self,id,name):
    self.id =id
    self.name = name
  def speak(self):
    print("My name is ", self.name)

In [26]:
p1 = Person("1","Jay")

In [27]:
print(p1.name)

Jay

In [28]:
p1.speak()

My name is  Jay

Create Vehicle class having 2 variables

(1) vehicle_name

(2) number_of_tires


create init method to set 2 variables

**************************************

Create 2 objects

1) vehicle_name = "Car" , number_of_tires = 4

2) vehicle_name = "Truck", number_of_tires = 8

In [3]:
class Vehicle:
  vehicle_name = ""
  number_of_tires = 0
  
  def __init__(self, v1, nt):
    self.vehicle_name = v1
    self.number_of_tires = nt

In [4]:
c1 = Vehicle("Car",4)

In [5]:
t1 = Vehicle("Truck",8)

In [6]:
print(t1.number_of_tires)

8

#Practice code :

Create employee class having 3 variables : name,grade, designation and also having init method.

Read n integer from user which is total number of employees.

For each and every employee read variables from user and create object and add it to 'lst' list.


In lst list if any employee has grade less than 7 , add him in 'improvement' list.

In [7]:
class Employee:
    def __init__(self, name, grade, designation):
        self.name = name
        self.grade = grade
        self.designation = designation

n = int(input("Enter the number of employees: "))
lst = []
improvement = []

for i in range(n):
    name = input("Enter the name of employee: ")
    grade = int(input("Enter the grade of employee: "))
    designation = input("Enter the designation of employee: ")
    emp = Employee(name, grade, designation)
    lst.append(emp)
    if emp.grade < 7:
        improvement.append(emp)

print("List of all employees:")
for emp in lst:
    print(emp.name, emp.grade, emp.designation)

print("List of employees needing improvement:")
for emp in improvement:
    print(emp.name, emp.grade, emp.designation)

List of all employees:
gg 5 ah
ff 10 df
List of employees needing improvement:
gg 5 ah