#Assignment 1

Read a list named lt of 7 string variables

create function get_last that takes list of string as argument and print last character of each and every element

call function get_last with argument lt

In [1]:
lt = []
for i in range(7):
  inp = input()
  lt.append(inp)

print(lt)

def get_last(st_lst):
  for i in st_lst:
    print(i[-1])

get_last(lt)

xyz
abcd
pqr
fgh
qwer
dfg
vbnm

#Sort list

In [20]:
a = [20,30,40,100,91,52,54]
a.sort()
print(a)

[20, 30, 40, 52, 54, 91, 100]

In [21]:
st_lst = ['banana','apple','orange','grapes']
st_lst.sort()
print(st_lst)

['apple', 'banana', 'grapes', 'orange']

#Sort in Descending order

In [22]:
a = [20,30,40,100,91,52,54]
a.sort(reverse = True)
print(a)

[100, 91, 54, 52, 40, 30, 20]

#Set

In [29]:
s = {10,20,30,40,40,30,20}   #Consider only single occurence (Not duplicates)
print(s)

{40, 10, 20, 30}

In [26]:
l = [1,1,1,2,2,3,4,4,4,5]
l = set(l)
print(l)

#Dictionary

Key Value format element

In [39]:
dict1 = {
    "name" : "Jay",
    "Age" : 30,
    "City" : "Abd",
    "Study" : "B-Tech"
}

In [40]:
print(dict1["name"])
print(dict1["Age"])

Jay
30

In [41]:
# Update values of perticular key item
dict1["Age"] = 25

In [44]:
#Add new key value pair
dict1["Contact"] = "999999999"

In [43]:
dict1

{'name': 'Jay',
 'Age': 25,
 'City': 'Abd',
 'Study': 'B-Tech',
 'Contact': '999999999'}

In [45]:
#Delete one key value pair
del dict1["City"]

In [46]:
dict1

{'name': 'Jay', 'Age': 25, 'Study': 'B-Tech', 'Contact': '999999999'}

In [47]:
dict1 = {
    "name" : "Jay",
    "Age" : 30,
    "City" : "Abd",
    "Study" : "B-Tech"
}
dict1["Age"] = "ijk"
print(dict1)

dict1["NewKey"] = 987
print(dict1)

In [64]:
dict1 = {
    "name" : "Jay",
    "Age" : 30,
    "City" : "Abd",
    "Study" : "B-Tech", # "hceT-B"
    "Marks" : [10,20,30,40]
}

# Practice code : reverse the value of key "Study"

In [57]:
s = dict1["Study"]
r = s[::-1]
dict1["Study"] = r

#Alternative method
dict1["Study"] = dict1["Study"][::-1]

#Iterate dictionary through for loop

In [68]:
dict1 = {
    "name" : "Jay",
    "Age" : 30,
    "City" : "Abd",
    "Study" : "B-Tech", # "hceT-B"
    "Marks" : [10,20,30,40]
}

In [70]:
for i in dict1:
  print("Key is =",i,"Value =",dict1[i])

Key is = name Value = Jay
Key is = Age Value = 30
Key is = City Value = Abd
Key is = Study Value = B-Tech
Key is = Marks Value = [10, 20, 30, 40]

#Practice code

Create Student dictionary which contains 4 keys 'name' , 'ph', 'ch', 'mt'('name' will be string and other 3 keys will be integer)

if sum of ph,ch,mt is greater than or equal to 100 add new key named 'result' with value 'pass' otherwise with value 'fail'

In [71]:
name = input()

Parth

In [72]:
ph = int(input())
ch = int(input())
mt = int(input())

33
34
66

In [74]:
dict1 = {
    'name' : name,
    'ph' : ph,
    'ch' : ch,
    'mt' : mt
}

In [75]:
if(dict1['ph']+ dict1['ch']+ dict1['mt'] >=100):
  dict1['result'] = "pass"
else:
  dict1['result']  = "Fail"

print(dict1)

#Assignment

Combine these two dictionary dict1 and dict2 in dict3

In [76]:
dict1 = {
    'name' : 'Parth',
    'ph' : 40,
    'ch' : 50,
    'mt' : 70
}
dict2 = {
    "name" : "Jay",
    "Age" : 30,
    "City" : "Abd",
    "Study" : "B-Tech", # "hceT-B"
    "Marks" : [10,20,30,40]
}

{'name': 'Parth', 'ph': 33, 'ch': 34, 'mt': 66, 'result': 'pass'}