#Practice code :

Create employee class having 3 variables : name,grade, designation and also having init method.

Read n integer from user which is total number of employees.

For each and every employee read variables from user and create object and add it to 'lst' list.


In lst list if any employee has grade less than 7 , add him in 'improvement' list.

In [1]:
class Employee:
  name = ""
  grade = 0
  designation = ""
  def __init__(self, name, grade , designation):
    self.name = name
    self.grade = grade
    self.designation = designation

In [2]:
n = int(input("Enter total number of employees : "))

Enter total number of employees : 3

In [3]:
lst = []
for i in range(n):
  nm = input("Enter name : ")
  grd = int(input("Enter Grade : "))
  des = input("Enter Designation : ")

  obj = Employee(nm ,grd, des)

  lst.append(obj)
improvement = []
for i in lst:
  if(i.grade<7):
    improvement.append(i)
print(improvement[0].grade)

Enter name : Parth
Enter Grade : 8
Enter Designation : Developer
Enter name : Raj
Enter Grade : 9
Enter Designation : Senior_Developer
Enter name : Yash
Enter Grade : 5
Enter Designation : Consultant

#Inheritance between classes

#There are 2 classes 
(1) Parent class 

(2) Child Class


Due to inheritance relation between classes child class gets the property of parent class.

In [13]:
class FatherClass:
  
  number_of_house = 0

  def __init__(self, n):
    self.number_of_house = n

In [14]:
class SonClass(FatherClass):

  number_of_cars = 0

  def __init__(self,n_cars,n_house):
    self.number_of_cars = n_cars

    FatherClass.__init__(self,n_house)

In [15]:
obj = SonClass(2,3)

In [16]:
print(obj.number_of_cars)

2

In [17]:
print(obj.number_of_house)

3

In [18]:
class Person:
  name = ""
  adhar_id = ""

  def __init__(self,name, adhar_id):
    self.name = name
    self.adhar_id = adhar_id

In [19]:
class Employee(Person):
  designation = ""
  company_name  = ""
  
  def __init__(self, des, cname, name, adhar_id):
    self.designation = des
    self.company_name = cname

    Person.__init__(self, name , adhar_id)

In [20]:
obj = Employee("Senior","Infosys","Jay","123")

In [21]:
print(obj.name)
print(obj.company_name)

Jay
Infosys

#polymorphism

(1) static polymorphism : method overloading

(2) Dynamic polymorphism : method overriding

method overloading : Overload same name method with different parameters

In [22]:
class MyClass:

  def same_name(self, s1):
    print("Single string method called with : ",s1)

  def same_name(self, s1, s2):
    print(s1, s2)

In [23]:
obj = MyClass()

In [24]:
obj.same_name("Parth","Shah")

Parth Shah

In [25]:
#This will generate error bcoz latest method will be considered
#obj.same_name("Parth")

TypeError: ignored

#Method override

Two same name method with parent and child class

In [49]:
class Parent:
  v1 = ""
  def __init__(self,value):
    self.v1 = value
  
  def show(self):
    print("Hello I am from Parent Class with value : ",self.v1)

In [50]:
class Child(Parent):
  value = ""

  def __init__(self,value1,value2):
    self.value = value1

    Parent.__init__(self, value2)

  def show(self):
    print("Child Class value : ", self.value)

In [51]:
obj1 = Child("Ranbir","Rishi")

In [52]:
obj1.show()

Child Class value :  Ranbir

In [44]:
obj2 = Parent("Khan")

In [45]:
obj2.show()

Hello I am from Parent Class with value :  Khan