#Assignment 1:
#Write a table of 18 (from 1 to 30) for numbers divisible by 3 only


18 * 3 = 54

18 * 6 = 108

..

18 * 30 = 540

In [ ]:
for i in range(1,31,1):
  if(i%3 == 0):
    print("18 * ", i , "= " , 18*i)

#Alternative method
for i in range(3,31,3):
  print("18 * ", i , "= " , 18*i)

18 *  3 =  54
18 *  6 =  108
18 *  9 =  162
18 *  12 =  216
18 *  15 =  270
18 *  18 =  324
18 *  21 =  378
18 *  24 =  432
18 *  27 =  486
18 *  30 =  540

#Assignment 2
#Read integer and print digit of the integer (Its not done by for loop)

Example1 : 8 : Answer -1

Example2 : 204 : Answer - 3

Example2 : 20455 : Answer - 5

In [ ]:
var1 = int(input())
l = len(str(var1))

2675

#Assignment 3

Write numbers from 500 to 100 who are divisible by 5 but not divisible by 25

In [ ]:
for i in range(500,99,-1):
  if(i%5==0 and i%25!=0):
    print(i)

#Functions

In [ ]:
def function1():
  print("Hello this is within function")
  print("I am newly added")
  print(2)
function1()

#Function with arguments

In [ ]:
def function2(var1,var2, var3):
  var1 = "City : "+ var1
  var2 = var2 + 5
  var3 = var3* 10
  print(var1)
  print(var2)
  print(var3)
function2("Ahmedabad",10,15)

#Function that returns values

In [ ]:
def function3(var1):
  var1 = var1 + 10
  return(var1)
a = function3(40)

#Practice code1
read an integer from user r1.

create function function5(var1) that takes 1 argument 'r1' variable.

if r1 is less then 50, print all even numbers less then half of r1

if r1 is greater than  or equal to 50 get the total digits of the number

In [ ]:
r1 = int(input())

def function5(r1):
  if(r1 < 50):
    for i in range(2,int(r1/2)+1,2):
      print(i)
  else:
    l = len(str(r1))
function5(r1)

30

#Assignment 1

Read a string from user s1 and reverse it to s2

#Assignment2

create function that takes 4 string variables(s1,s2,s3,s4) and concat them in variable c1.

if the length of c1 is less than 20, print even indexed characters of c1.

else print first 10 character of string.