#Assignment 1

Given a list that contains lists.
create dictionary where 1st element will be key and rest of the element will be values(in list format)

In [13]:
inp = [['abc',12,23,45,56,44], ['pqrs',55,66,77,89,56], ['xyz',34,6], ['opst',45,67,897,7,7]]

In [14]:
dict1 = {}

for i in inp:
  key = i[0]
  value = i[1:]

  dict1[key] = value

print(dict1)

#Dictionaries in list

In [17]:
l = [11,23,4,'abc',4.5,[4,5,6],True]

In [18]:
d1 = {
    'name':'Parth',
    'city':'Modasa'
}
d2 = {
    'name' : 'Sagar',
    'city' : 'Abd'
}
d3 = {
    'name' : 'Jay',
    'city' : 'Gng'
}

In [20]:
l2 = [d1,d2, d3]

In [21]:
l2

[{'name': 'Parth', 'city': 'Modasa'},
 {'name': 'Sagar', 'city': 'Abd'},
 {'name': 'Jay', 'city': 'Gng'}]

#Practice assignment

Read n integer from user where n is total number of students in lab.

for each and every student create dictionary with keys "Name" and "Marks"

"Id" : Value should be Auto oncreament start from 1000

"Name" : Read it from user

"Marks" : Read it from user

In [22]:
n = int(input())

3

In [23]:
expected_output = [{"Name":"Parth","Marks":40},{"Name":"Sagar","Marks":50},{"Name":"Yash","Marks":50}]

In [29]:
l1 = []

for i in range(n):
  id = i + 1000
  name = input("Enter name")
  marks = int(input("Enter marks"))

  dict1 = {"Id" : id ,"Name":name , "Marks" : marks}

  l1.append(dict1)

Enter nameParth
Enter marks30
Enter nameRaj
Enter marks40
Enter nameSagar
Enter marks70

In [30]:
print(l1)

[{'Id': 1000, 'Name': 'Parth', 'Marks': 30}, {'Id': 1001, 'Name': 'Raj', 'Marks': 40}, {'Id': 1002, 'Name': 'Sagar', 'Marks': 70}]

#Practice assignment 2

(1)Read n integer from user where n is total number of employees in firm.

(2)

for each and every employee create dictionary with keys "Name" and "Grade"

"Name" : Read it from user

"Grade" : Read it from user (It should be integer from 1 to 10)

(3)
Create 2 lists 'excelent' and 'improvement'.

If employee grade is greater than or equal to 7 put employee to 'excellent' dictionary or else put him to 'improvement' dictionary

In [31]:
#1
n = int(input("Enter total number of Employees"))

Enter total number of Employees3

In [32]:
l2 = []
for i in range(n):
  name = input("Enter Name ")
  grade = int(input("Enger Grade"))

  dict1 = {"Name" : name , "Grade" : grade}
  l2.append(dict1)

Enter Name Parth
Enger Grade5
Enter Name Harsh
Enger Grade8
Enter Name Shiv
Enger Grade4

In [33]:
print(l2)

[{'Name': 'Parth', 'Grade': 5}, {'Name': 'Harsh', 'Grade': 8}, {'Name': 'Shiv', 'Grade': 4}]

In [37]:
excelent = []
improvement = []

In [38]:
for i in l2:
  if(i["Grade"]>=7):
    excelent.append(i)
  else:
    improvement.append(i)

In [39]:
print(excelent)

[{'Name': 'Harsh', 'Grade': 8}]

In [40]:
print(improvement)

[{'Name': 'Parth', 'Grade': 5}, {'Name': 'Shiv', 'Grade': 4}]