In [2]:
import pandas as pd
  
import numpy as np
  
# dictionary of lists
dict1 = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, 40, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}

In [3]:
dict1

{'First Score': [100, 90, nan, 95],
 'Second Score': [30, nan, 45, 56],
 'Third Score': [52, 40, 80, 98],
 'Fourth Score': [nan, nan, nan, 65]}

In [28]:
df = pd.DataFrame(dict1)

In [20]:
df

   First Score  Second Score  Third Score  Fourth Score
0        100.0          30.0           52           NaN
1         90.0           NaN           40           NaN
2          NaN          45.0           80           NaN
3         95.0          56.0           98          65.0

In [16]:
df.isna().mean()

First Score     0.25
Second Score    0.25
Third Score     0.00
Fourth Score    0.75
dtype: float64

#If the null value percentage is more than 60 - 70 %, in that case you have to delete/drop that column.

In [9]:
df = df.drop(['Fourth Score'], axis = 1)

# Alternative method 

del df['Fourth Score']

#If the null value percentage is less than 5 - 10 %, in that case you can to delete/drop that rows.

In [31]:
df = df.dropna(axis = 0 , subset = ['First Score','Second Score'])

In [33]:
df

   First Score  Second Score  Third Score
0        100.0          30.0           52
3         95.0          56.0           98

   First Score  Second Score  Third Score
0        100.0          30.0           52
3         95.0          56.0           98

In [34]:
df = pd.read_excel('FinancialSample.xlsx', 'Sheet1')

In [36]:
df.isna().sum()

Segment                  0
Country                  0
Product                  9
Discount Band            0
Units Sold              36
Manufacturing Price      0
Sale Price               0
Gross Sales              0
Discounts                0
 Sales                   0
COGS                    28
Profit                 137
Date                    14
Month Number             0
Month Name               0
Year                     0
dtype: int64

In [37]:
del df['COGS'],df['Profit']

In [38]:
df.isna().sum()

Segment                 0
Country                 0
Product                 9
Discount Band           0
Units Sold             36
Manufacturing Price     0
Sale Price              0
Gross Sales             0
Discounts               0
 Sales                  0
Date                   14
Month Number            0
Month Name              0
Year                    0
dtype: int64

# We can fill numerical missing values with average value of perticular column.

In [41]:
#df['Units Sold'].fillna( 400 )

df['Units Sold'] = df['Units Sold'].fillna(df['Units Sold'].mean())

In [42]:
df.isna().sum()

Segment                 0
Country                 0
Product                 9
Discount Band           0
Units Sold              0
Manufacturing Price     0
Sale Price              0
Gross Sales             0
Discounts               0
 Sales                  0
Date                   14
Month Number            0
Month Name              0
Year                    0
dtype: int64

# We can fill categorical null values with highest occuring value

In [43]:
df['Product'].value_counts()

Paseo        202
Velo         109
VTT          109
Amarilla      94
Montana       92
Carretera     85
Name: Product, dtype: int64

In [44]:
df['Product'] = df['Product'].fillna('Paseo')

In [45]:
df.isna().sum()

Segment                 0
Country                 0
Product                 0
Discount Band           0
Units Sold              0
Manufacturing Price     0
Sale Price              0
Gross Sales             0
Discounts               0
 Sales                  0
Date                   14
Month Number            0
Month Name              0
Year                    0
dtype: int64