#Feature engineering

https://www.javatpoint.com/feature-engineering-for-machine-learning

#Normalization : 
https://www.geeksforgeeks.org/python-scaling-numbers-column-by-column-with-pandas/

https://medium.com/@jalesh.j/column-normalization-and-column-standardization-in-machine-learning-e056501056b

In [1]:
import pandas as pd
df = pd.read_excel('FinancialSample.xlsx','Sheet1')
df = df.dropna()

In [ ]:
df = df.reset_index(drop=True)

In [2]:
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014

In [3]:
df2 = df[['Units Sold','Sale Price']]

In [4]:
df2

     Units Sold  Sale Price
0        1618.5          20
1        1321.0          20
2        2178.0          15
3         888.0          15
4        2470.0          15
..          ...         ...
695      2475.0         300
696       546.0         300
697      1368.0           7
698       723.0           7
699      1806.0          12

[519 rows x 2 columns]

In [5]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [6]:
scaler = MinMaxScaler()

In [7]:
df2[["Units Sold_MinMaxScalled"]] = scaler.fit_transform(df[["Units Sold"]])

<ipython-input-7-92e1c9e566d0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[["Units Sold_MinMaxScalled"]] = scaler.fit_transform(df[["Units Sold"]])

In [8]:
df2

     Units Sold  Sale Price  Units Sold_MinMaxScalled
0        1618.5          20                  0.330460
1        1321.0          20                  0.261153
2        2178.0          15                  0.460804
3         888.0          15                  0.160280
4        2470.0          15                  0.528829
..          ...         ...                       ...
695      2475.0         300                  0.529994
696       546.0         300                  0.080606
697      1368.0           7                  0.272103
698       723.0           7                  0.121840
699      1806.0          12                  0.374141

[519 rows x 3 columns]

In [9]:
df2['Units Sold_MinMaxScalled'].min()

0.0

In [10]:
df2['Units Sold_MinMaxScalled'].max()

1.0

#Standardization :    
https://www.geeksforgeeks.org/how-to-standardize-data-in-a-pandas-dataframe

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
scaler = StandardScaler()

In [13]:
df2[["Units Sold_StandardScalled"]] = scaler.fit_transform(df[["Units Sold"]])

<ipython-input-13-427e020d2e8a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[["Units Sold_StandardScalled"]] = scaler.fit_transform(df[["Units Sold"]])

In [15]:
df["Units Sold"].mean()

1590.9527938342967

In [14]:
df2['Units Sold_StandardScalled'].std()

1.000964785559663

In [16]:
df2['Units Sold_StandardScalled'].mean()

3.593785513237501e-17



#OnehotEncoding 
https://www.statology.org/one-hot-encoding-in-python/

In [17]:
import pandas as pd
df = pd.read_excel('FinancialSample.xlsx','Sheet1')
df = df.dropna()

In [18]:
df = df.reset_index(drop=True)

In [19]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)

result = ohe.fit_transform(df[['Segment']])

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [20]:
result.shape

(519, 5)

In [21]:
print(ohe.categories_)

[array(['Channel Partners', 'Enterprise', 'Government', 'Midmarket',
       'Small Business'], dtype=object)]

In [ ]:
print(result)

[[0. 0. 1. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 ...
 [0. 0. 1. 0. 0.]
 [0. 0. 1. 0. 0.]
 [1. 0. 0. 0. 0.]]

In [ ]:
new_df = pd.DataFrame(result, columns=ohe.categories_[0])

In [ ]:
new_df.head()

   Channel Partners  Enterprise  Government  Midmarket  Small Business
0               0.0         0.0         1.0        0.0             0.0
1               0.0         0.0         1.0        0.0             0.0
2               0.0         0.0         0.0        1.0             0.0
3               0.0         0.0         0.0        1.0             0.0
4               0.0         0.0         0.0        1.0             0.0

In [ ]:
df = pd.concat([df,new_df],axis = 1)

In [ ]:
del df['Segment']

In [ ]:
df.head()

,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year,Channel Partners,Enterprise,Government,Midmarket,Small Business
0,Canada,Carretera,None,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014,0.0,0.0,1.0,0.0,0.0
1,Germany,Carretera,None,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014,0.0,0.0,1.0,0.0,0.0
2,France,Carretera,None,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014,0.0,0.0,0.0,1.0,0.0
3,Germany,Carretera,None,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014,0.0,0.0,0.0,1.0,0.0
4,Mexico,Carretera,None,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014,0.0,0.0,0.0,1.0,0.0

In [ ]:
df.columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       ' Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year', 'Channel Partners', 'Enterprise', 'Government', 'Midmarket',
       'Small Business'],
      dtype='object')

In [ ]:
ohe.categories_

[array(['Channel Partners', 'Enterprise', 'Government', 'Midmarket',
        'Small Business'], dtype=object)]

In [ ]:
len(df)

519


# Assignment 

(1) Do Onehot encoding for 'Month Name' column

(2) Remove 'Month Name' column.

(3) Filter data for January month only.