#Function

2 parts of function

(1) To define the function

(2) Call the function

In [1]:
def func1():
  a = 10
  print("Hello i am from function")
  print("This is 2nd statement")

print("I am ouside function")
func1()

I am ouside function

#Function with return values

In [4]:
def func2():
  a = 10
  print("Inside")
  return(a)
var1 = func2()

#Return multiple values from function

In [7]:
def func3():
  a = 10
  b = 'Parth'
  c = 5.5
  return(a,b,c)
x,y,z = func3()

print(x,y,z)

#Function with arguments

In [10]:
def argument_accepting(var1):
  print(var1)
  return(10)
ret = argument_accepting(3.4)

#Function with multiple arguments

In [14]:
def func_with_multi_arg(arg1,arg2,arg3):
  print(arg1)
  print(arg2)
  print(arg3)

  return(arg1 + arg2 +arg3)

v1 = func_with_multi_arg(10,20,30)
print(v1)

#Practice code1

Read 3 integers from user v1,v2,v3

create a function find_average(arg1,arg2,arg3) that takes 3 integer variables and count their average and return their average

call the function find_average with v1,v2,v3 and store result in RES variable

In [18]:
#statement1
v1 = int(input())
v2 = int(input())
v3 = int(input())

#Statement2
def find_average(arg1,arg2,arg3):
  s = (arg1+arg2+arg3)/3
  return(s)

#Statement3
RES = find_average(v1,v2,v3)
print(RES)

40
69
32

#Yesterdays Assignment 1

Read a string from user s1 and reverse it to s2

In [23]:
s1 = input()
s2 = s1[::-1]
print(s2)

Ahmedabad

#Yesterdays Assignment2

create function that takes 4 string variables(s1,s2,s3,s4) and concat them in variable c1.

if the length of c1 is less than 20, print even indexed characters of c1.

else print first 10 character of string.

In [32]:
def my_function(s1,s2,s3,s4):
  c1 = s1 + s2 +s3 + s4
  l = len(c1)
  if(l<20):
    for i in range(0,l,1):
      if(i%2 == 0):
        print(a[i])
  else:
    s1 = c1[:10]
    print(s1)

my_function('abcddvfdbd','qwertyusdvfdbd','asdfghjk','zxcvbnqwer')

#Lists

In [34]:
l1 = [10,20,30,50,40]
l2 = ['parth','shah','sagar','jay','vrunda']
l3 = [3.5,7.5, 8.9, 7.6]

In [39]:
l4 = [10 , 20 , 'c' , "Ahmedabad" , 8.9 , False]

#Find length of list

In [43]:
r1 = len(l4)

#Access values from list

In [45]:
l = [55,60,61,62,63,64]
print(l[0])
print(l[3])

#Append variable in list

In [58]:
l = [55,60,61,62,63,64]
a = 100

In [59]:
l.append(a)

In [60]:
print(l)

[55, 60, 61, 62, 63, 64, 100]

In [61]:
s2 = 'Abcd'

In [62]:
l.append(s2)

In [63]:
print(l)

[55, 60, 61, 62, 63, 64, 100, 'Abcd']

#Iterate through list

In [69]:
l = [55,60,61,62,63,64,'Abcd' , 3.5, False, 22.2]

In [70]:
for i in l:
  print(i)

55
60
61
62
63
64
Abcd
3.5
False
22.2