#Realtime applications and logic building questions

#Practice code 1
Read radius from user and create function to find area of circle.

In [11]:
import math
r = int(input("Enter radius : "))

def find_area(r):
  pi = math.pi
  area = pi * r *r
  return(area)

ans = find_area(r)
print(ans)

Enter radius : 10

#Practice code 2
Find maximum from a list

In [21]:
l = [4,3,5,7,6,2,1]

In [31]:
maximum = l[0]

In [32]:
for i in l:
  print("i value is =",i,"maximum value is = ",maximum)
  if(i>maximum):
    maximum = i
    print("New maximum value is =",maximum)

i value is = 4 maximum value is =  4
i value is = 3 maximum value is =  4
i value is = 5 maximum value is =  4
New maximum value is = 5
i value is = 7 maximum value is =  5
New maximum value is = 7
i value is = 6 maximum value is =  7
i value is = 2 maximum value is =  7
i value is = 1 maximum value is =  7

In [33]:
print(maximum)

7

#Practice code 2

Read n from user.

Get sum of number from 1 to n.

In [40]:
n = int(input())

5

In [51]:
sum1 = 0
for i in range(n+1):
  print("i value is = ", i)
  sum1 = sum1 + i
print("Answer is ",sum1)

#Alternative answer
ans = n*(n+1)/2
print(ans)

i value is =  0
i value is =  1
i value is =  2
i value is =  3
i value is =  4
i value is =  5
Answer is  15
15.0

#Practice code 3

Read n from user.

Get multiplication of number from 1 to n.

In [52]:
n = int(input("Enter n : "))

Enter n : 8

In [59]:
mult = 1
for i in range(1,n+1):
  print("i value is :", i)
  mult = mult * i

print(mult)

i value is : 1
i value is : 2
i value is : 3
i value is : 4
i value is : 5
i value is : 6
i value is : 7
i value is : 8

#Practice code 4

Read n from user.

create function to check if the number is prime or not.

prime = 2,3,5,7,11,13,17,19,23,29..........

In [61]:
n = int(input("Enter n : "))

def is_prime(n):
  for i in range(2,n):  # 2....22
    if(n%i == 0):
      return(False)
  return(True)

ans = is_prime(n)
print(ans)

Enter n : 23

# Practice code 5

read n from user.

Get the sum of the digits of the number.

n = 4563

sum == 4+5+6+3 = 18

In [65]:
n = int(input("Enter number :"))

Enter number :8456

In [70]:
st = str(n)

sum1 = 0
for i in st:
  sum1 = sum1 + int(i)

print(sum1)

#Assignment code 1

Read readius and height of cylinder from user
create function 'find_volume' to find its volume and return it.

In [ ]:
import math

r = int(input("Enter radius :"))
h = int(input("Enter height"))

def find_volume(r,h):
  pi = math.pi
  volume = pi * r*r*h
  return(volume)

ans = find_volume(r,h)
print(ans)

#Assignment code 2
Take a list. Find minimum from the list.

put print statement to track the flow of code.

In [34]:
l = [4,3,5,7,6,2,1]

i   minimum
4    4
3    3
5    3
7    3
6    3
2    2
1    1

In [39]:
minimum = l[0]

for i in l:
  print("i value = ",i,"minimum value = ",minimum)
  if(i<minimum):
    minimum = i
    print("New minimum = ",minimum)
print(minimum)

i value =  4 minimum value =  4
i value =  3 minimum value =  4
New minimum =  3
i value =  5 minimum value =  3
i value =  7 minimum value =  3
i value =  6 minimum value =  3
i value =  2 minimum value =  3
New minimum =  2
i value =  1 minimum value =  2
New minimum =  1
1

#Assignment code 3

Read n from user.

Get sum of squares of number from 1 to n.

1*1 + 2*2 + 3*3 + 4*4 +.......+ n*n